body {
	font-family: "Gilroy-Medium", sans-serif;
	font-weight: 400;
}
.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0px 20px;
}
a {
	text-decoration: none;
}
.title {
	font-family: Gilroy-Bold;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #070707;
}
.text-bold {
	font-weight: 700;
}
