.about {
	padding-top: 120px;
	padding-bottom: 65px;
	background-color: #f6f6f6;
}
.about__title {
	margin-bottom: 17px;
}
.about__text {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
	margin-bottom: 44px;
}
